# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Rust
target/

# IDE files
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/
